In [1]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: bleach in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (2025.4.26)
Requirement already satisfied: charset-normalizer in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (3.4)
Requirement already satisfied: protobuf in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (3.20.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (68.2.2)
Requirement already satisfied: six>=1.10 in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (2.0.7)
Requirement already satisfied: webencodings in c:\users\hp\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\hp\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
   ---------------------------------------- 0.0/181.2 kB ? eta -:--:--
   ---- ---------------------------------- 20.5/181.2 kB 217.9 kB/s eta 0:00:01
   ------ -------------------------------- 30.7/181.2 kB 259.2 kB/s eta 0:00:01
   -------- ------------------------------ 41.0/181.2 kB 279.3 kB/s eta 0:00:01
   --------------- ----------------------- 71.7/181.2 kB 391.3 kB/s eta 0:00:01
   --------------------------- ---------- 133.1/181.2 kB 522.9 kB/s eta 0:00:01
   ------------------------------------ - 174.1/181.2 kB 655.4 kB/s eta 0:00:01
   ------------------------------------ - 174.1/181.2 kB 655.4 kB/s eta 0:00:01
   ------------------------------------ - 174.1/181.2 kB 655.4 kB/s eta 0:00:01
   ------------------------------------ - 174.1/181.2 kB 655.4 kB/s eta 0:00:01
   ------------------------------------ - 174.1/181.2 kB 655.4 kB/s eta 0:00:01
   -------------------------------------- 181.2/181.2 kB 342.0 kB/s eta 0:00:00
Installing collected packages: kaggle
Successfully installed kaggle-1.7.4.5

In [7]:
import os
import pandas as pd
import zipfile

# Download the dataset
!kaggle datasets download -d kaggle/sf-salaries

# Unzip the dataset
with zipfile.ZipFile('sf-salaries.zip', 'r') as zip_ref:
    zip_ref.extractall()

# Read the CSV file
df = pd.read_csv('Salaries.csv')

print(df.head())

Dataset URL: https://www.kaggle.com/datasets/kaggle/sf-salaries
License(s): CC0-1.0
sf-salaries.zip: Skipping, found more recently modified local copy (use --force to force download)

C:\Users\HP\AppData\Local\Temp\ipykernel_11988\3042151471.py:13: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Salaries.csv')

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28
2  212739.13   106088.18    16452.6      NaN  335279.91         335279.91
3    77916.0    56120.71   198306.9      NaN  332343.61         332343.61
4   134401.6      9737.0  182234.59      NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN

In [11]:
# List of columns that should be numeric
columns_to_convert = ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits']

# Convert them to numeric, coercing errors to NaN
for col in columns_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Confirm the data types are now numeric
df[columns_to_convert].dtypes

BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
dtype: object

In [13]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB
None
   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN

In [15]:
    #Find and return employee details from the salary DataFrame.
    #Parameters:
    #- name (str): Name of the employee to search.
    #- df (DataFrame): The salary DataFrame.
    #Returns:
    #- DataFrame containing matching employee(s) info or a message if not found.

def find_employee(name, df):
    try:
        if not isinstance(name, str):
            raise TypeError("Please enter a valid string for the employee name.")
        
        # Case-insensitive search
        result = df[df['EmployeeName'].str.lower() == name.lower()]
        
        if result.empty:
            print(f"No employee found with name: {name}")
        else:
            return result

    except Exception as e:
        print(f"An error occurred: {e}")

In [17]:
print(find_employee("GARY JIMENEZ", df))

   Id  EmployeeName                         JobTitle    BasePay  OvertimePay  \
1   2  GARY JIMENEZ  CAPTAIN III (POLICE DEPARTMENT)  155966.02    245131.88

    OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  Notes  \
1  137811.38       NaN  538909.28         538909.28  2011    NaN

          Agency Status
1  San Francisco    NaN

In [19]:
print(find_employee("DANIEL GBUJI", df))

No employee found with name: DANIEL GBUJI
None

In [21]:
print(find_employee("gary jimenez", df))

   Id  EmployeeName                         JobTitle    BasePay  OvertimePay  \
1   2  GARY JIMENEZ  CAPTAIN III (POLICE DEPARTMENT)  155966.02    245131.88

    OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  Notes  \
1  137811.38       NaN  538909.28         538909.28  2011    NaN

          Agency Status
1  San Francisco    NaN

In [23]:
print(find_employee(12345, df))

An error occurred: Please enter a valid string for the employee name.
None

In [41]:
print(find_employee("KIM BREWER", df))

            Id EmployeeName                 JobTitle   BasePay  OvertimePay  \
32048    32049   KIM BREWER  PARKING CONTROL OFFICER   8600.14         0.00
60085    60086   Kim Brewer  Parking Control Officer  50818.20      3050.84
148643  148644   Kim Brewer  Parking Control Officer      0.00         0.00

        OtherPay  Benefits  TotalPay  TotalPayBenefits  Year  Notes  \
32048     105.06       NaN   8705.20           8705.20  2011    NaN
60085    1358.30   25964.4  55227.34          81191.74  2012    NaN
148643      0.00       0.0      0.00              0.00  2014    NaN

               Agency Status
32048   San Francisco    NaN
60085   San Francisco    NaN
148643  San Francisco     PT

In [43]:
# Step 1: Build the dictionary from the DataFrame
def build_salary_dict(df):
    salary_dict = {}
    for _, row in df.iterrows():
        name = row['EmployeeName'].strip().lower()
        salary_dict[name] = row.drop(labels='EmployeeName').to_dict()
    return salary_dict

# Step 2: Create the salary data dictionary
salary_data_dict = build_salary_dict(df)

# Step 3: Define the employee lookup function with error handling
def lookup_employee(name, salary_dict):
    try:
        if not isinstance(name, str):
            raise TypeError("Employee name must be a string.")
        
        name_key = name.strip().lower()
        if name_key not in salary_dict:
            raise ValueError(f"No employee found with name '{name}'.")
        
        return salary_dict[name_key]
    
    except Exception as e:
        return f"An error occurred: {e}"

In [45]:
print(lookup_employee("Gary Jimenez", salary_data_dict))

{'Id': 2, 'JobTitle': 'CAPTAIN III (POLICE DEPARTMENT)', 'BasePay': 155966.02, 'OvertimePay': 245131.88, 'OtherPay': 137811.38, 'Benefits': nan, 'TotalPay': 538909.28, 'TotalPayBenefits': 538909.28, 'Year': 2011, 'Notes': nan, 'Agency': 'San Francisco', 'Status': nan}

In [48]:
print(lookup_employee("Kim Brewer", salary_data_dict))

{'Id': 148644, 'JobTitle': 'Parking Control Officer', 'BasePay': 0.0, 'OvertimePay': 0.0, 'OtherPay': 0.0, 'Benefits': 0.0, 'TotalPay': 0.0, 'TotalPayBenefits': 0.0, 'Year': 2014, 'Notes': nan, 'Agency': 'San Francisco', 'Status': 'PT'}

In [50]:
print(lookup_employee("DANIEL GBUJI", salary_data_dict))

An error occurred: No employee found with name 'DANIEL GBUJI'.

In [52]:
print(lookup_employee("12345", salary_data_dict))

An error occurred: No employee found with name '12345'.

In [54]:
print(lookup_employee(12345, salary_data_dict))

An error occurred: Employee name must be a string.

In [68]:
export_employee_details("Gary Jimenez", salary_data_dict)

In [82]:
import pandas as pd
import os
import zipfile

def export_employee_details(name, salary_dict):
    try:
        # Lookup employee details
        details = lookup_employee(name, salary_dict)

        # Handle error string from lookup_employee
        if isinstance(details, str):
            print("Lookup error:", details)
            return

        # Convert to DataFrame
        df = pd.DataFrame([details])

        # Create filename and zip name
        filename = f"{name.title().replace(' ', '_')}_Profile.csv"
        zip_filename = "Employee Profile.zip"

        # Save the CSV
        df.to_csv(filename, index=False)

        # Zip the file
        with zipfile.ZipFile(zip_filename, 'w', zipfile.ZIP_DEFLATED) as zipf:
            zipf.write(filename)

        print(f"Exported and zipped employee details to '{zip_filename}'.")

    except Exception as e:
        print(f"An error occurred: {e}")

In [86]:
export_employee_details("Gary Jimenez", salary_data_dict)

Exported and zipped employee details to 'Employee Profile.zip'.

In [90]:
export_employee_details("Kim Brewer", salary_data_dict)

Exported and zipped employee details to 'Employee Profile.zip'.